body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
p{
  font-family: "Poppins";
  font-size:15pt
}

.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.custom-row {
  width: 100%;
  max-width: 600px;
}

.custom-col-md-6 {
  width: 100%;
}

.custom-card {
  background-color: #edf8ff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.create-submit{
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  width: 15vw;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}

.create-submit:hover {
  background-color: #0056b3;
}

input,
select {
  margin-bottom: 15px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

input[type="file"] {
  margin: 0 0 0 85px;
}
.create-header{
  padding-bottom: 3vw;
  font-family: 'Poppins';
}