@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Ubuntu", sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.navbar {
    height: 90px;
    background-color: #1a1a1a;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: rgb(0, 255, 72) solid 3px; */
}

@media (max-width: 48em) { 
    body {
        font-size: 14px; 
    }

    .navbar {
        padding: 10px 20px; 
    }

    .menu-links {
        display: none; 
    }

    .menu-btn {
        display: block; 
    }

    .card-container {
        width: 100%; 
        display: flex;
        flex-direction: column;
    }

    .card {
        margin-bottom: 20px; 
    }

    .header {
        text-align: center; 
    }
}
.navbar .logo i{
    color: #0aa5ff;
    font-size: 22px;
}

.navbar .logo p {
    font-size: 24px;
    color: white;
    margin-left: 12px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
}

.menu {
    display: flex;
    align-items: center;
    /* border: rgb(204, 255, 0) solid 3px; */
}

.menu-links {
    position: relative;
    display: flex;
    gap: 4px;
    border-right: 1px solid #999999;
    /* padding-inline: 80px; */
    /* border: red solid 3px;  */
}

.menu-links a {
    font-weight: 500;
    color: #999999;
    padding: 8px 32px;
    transition: .3s ease;
    /* border: rgb(47, 0, 255) solid 3px; */
}

.menu-links a:hover {
    color: white;
    transform: scale(1.1);
}
.menu-links ul{
    padding: 0;
    margin: 0;
    list-style: none;
    /* border: rgb(0, 255, 145) solid 3px; */
    
}
.menu-links ul li{
    font-size: 17pt;
    font-family: "Ubuntu", sans-serif;
    top: 1.5vw;
    font-weight: 500;
    position: relative;
    display: inline-block;
    background-color: #1a1a1a;
    
    
}
.menu-links ul ul{
    display: none;
    position: absolute;
    top: 20px;
    text-align: left;
    z-index: 1;
    
}
.menu-links ul li:hover>ul{
    display: inherit;
}

.log-in {
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: #999999;
    border-radius: 10px;
    border: 2px solid rgb(6, 127, 193);
    transition: 0.2s ease;
}

.log-in:hover {
    background-color: rgb(6, 127, 193);
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(6, 127, 193);
}

.menu-btn {
    font-size: 24px;
    color: white;
    display: none;
    cursor: pointer;
}
.services-btn{
    width: 1vw;
}

.close-btn {
    display: none;
}
.signOutBackground {
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    font-size: 16pt;
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: #999999;
    border-radius: 10px;
    border: 2px solid rgb(6, 127, 193);
    transition: 0.3s ease;
    margin-left: 1vw;
  
  
  }
  .signOutBackground:hover {
      background-color: rgb(6, 127, 193);
      color: white;
  }

  .tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:center;
}

.tooltip h3 {margin:0px 0;}

.tooltip .bottom {
    min-width:200px;
    /*max-width:400px;*/
    top:40px;
    left:50%;
    transform:translate(-50%, 0);
    padding:20px;
    color:#666666;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:10px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip:hover .bottom {
    display:block;
}

.tooltip .bottom img {
    width:400px;
}

.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.Hi-msg{
    text-align: center;
    color: white;
    position: absolute;
    right: 12.5vw;
    top: .7vw;
}



@media (max-width: 75rem) {
    .menu-links {
        display: none; 
    }

    .menu-btn {
        display: block; 
    }
    .Hi-msg {
        display: none; 
    }
}

@media (max-width: 50rem){
    .Hi-msg {
        display: none; 
    }
}

.hide-items{
    .logo{
        display: none;
    }

    .login-signup{
        display: none;
    }
}

.show-links{
    .menu-links{
        display: flex;
    }
}