@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 400px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-Request{
  font-size: 40pt;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 100px;
  text-shadow: 2px 2px 2px rgb(118, 117, 117);
}

form{
    box-shadow: 0 10px 20px#333;
    width: 100vw;
    display: grid;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-row {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 15pt;
}

#location, #date{
    width: 20vw;
    font-size: 10pt;
}
label{
    font-size: 15pt;
}
.form-control {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid #0077cc; 
    font: 16px;
    color: #003366;
    font-weight: 500;
    transition: .5s;
    padding-right: 23px;
}
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.form-control input:active {
    background: transparent;
  }
.form-control input:focus,
.form-control input:valid {
    border-bottom-color: #003366; 
    background-color: transparent;
}
label {
    position: relative;
    font-size: 16px;
    color: #003366;
    pointer-events: none;
    transition: .5s;
  }
.custom-file-upload {
    width: calc(100% - 20px);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #333;
    
}

.btn {
    position: relative;
    background-color: #03a9f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #079ee4;
}
.footer-distributed{
    margin-top: 500px;
}
#myFile {
    position: absolute;
    left: -9999px;
}
.column{
    display: block;
    justify-content: center;
}