@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.review_welcome{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 50px;
    text-align: center;
    /* border: 3px rgb(0, 255, 38) solid; */
    position: relative;
    top: 3vw;
}
.review_welcome h1{
    width: 50vw;
    text-align: center;
    /* border: 3px red solid; */
    font-family: 'Montserrat';
}
.demo{ background: #f8f8f8;
    position: relative;
}
.testimonial{
}
.testimonial {
    flex: 0 0 calc(33.33% - 40px); 
    margin-bottom: 20px; 
}
.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.testimonial .testimonial-content{
    padding: 35px 25px 35px 50px;
    margin-bottom: 35px;
    background: #fff;
    border: 1px solid #f0f0f0;
    position: relative;
}
.testimonial .testimonial-content:after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 22px;
    transform: rotate(45deg);
}
.testimonial-content .testimonial-icon{
    width: 50px;
    height: 45px;
    background: #05c0ff;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
    line-height: 42px;
    position: absolute;
    top: 37px;
    left: -19px;
}
.testimonial-content .testimonial-icon:before{
    content: "";
    border-bottom: 16px solid #0415ad;
    border-left: 18px solid transparent;
    position: absolute;
    top: -16px;
    left: 1px;
}
.testimonial .description{
    position: relative;
    font-size: 15px;
    font-style: italic;
    color: #8a8a8a;
    line-height: 23px;
    margin: 0;
}
.testimonial .title{
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #525252;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: #000000;
}
.owl-theme .owl-controls{
    margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #ff4242;
}
/* body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
} */

/* .testimonials
{
    margin: 200px auto 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-gap: 20px;
}
.testimonials .card
{
    position: relative;
    width:350px;
    margin: 20px auto;
    background:#ffffff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,.5);
    overflow: hidden;
    color: black;

}
.testimonials .card .layer
{
    position: absolute;
    top:calc(100% - 2px);
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(rgb(6, 127, 193), #05032c);
    z-index: 1;
    transition: 0.5s;
}

.testimonials .card .content
{
   position: relative;
   z-index: 2;
}
.testimonials .card .content p
{
   font-size: 18px;
   line-height: 24px;
   color:#000000;
}
.testimonials .card .content .image
{
   width: 100px;
   height: 100px;
   margin: 0 auto;
   border-radius: 50%;
   overflow: hidden;
   border: 4px solid #fff;
   box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.testimonials .card .content .details h2
{ 
   font-size: 18px;
   color: #020202;
}
.testimonials .card .content .details h2 span
{
    color: #03a9f4;
    font-size: 14px;
    transition: 0.5s;
}
.testimonials .card:hover .content .details h2 span
{
    color: #fff;
} */