
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
min-width: 550px;
position: relative;
}
body {
  background-color: #ffffff;
}

.sideNav {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:transparent;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px, 0px, 50px white;
}
.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
  box-shadow: 0px, 0px, 50px white;
}
.sideNav button{
  background-color: transparent;
  margin-bottom: .2vw;
  border-color: rgb(18, 19, 29);
  box-shadow: 5px, 5px, 50px white;
  border-style: none;
}
.sideNav button:hover, .sideNav i{
  transform: scale(1.1);
  box-shadow: 0px, 0px, 50px white;
}
.sideNav a:hover{
    color: #6dcaff;
    text-shadow: #d6f7fb;
    
}
.sideNav a{
  color: white;
}

.sideNav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #ffffff;
}
@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
  }


@media only screen and (max-width: 768px) {
  .sideNav {
    width: 250px; 
    padding-top: 80px;
  }

  .sideNav a {
    font-size: 20px; 
  }

  
  .container img {
    width: 100%; 
    height: auto;
  }

  .container h2, .container p {
    font-size: 5px; 
  }

  
}
@media only screen and (max-width: 768px) {
  .container {
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center; 
  }

  .container img {
    margin-bottom: 20px; 
  }

  .container h2 {
    font-size: 18px;
    margin: 10px;
  }
  .container p {
    font-size: 14px;
    margin: 0;
  }

  
}
#tjCompany {
    position: relative;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 2vw;
    color: rgb(6, 127, 193);
    letter-spacing: 2px;
    bottom:3.5vw;
    width: fit-content;
    left: 35vw;


}
#headerSection {
  height: 10vw;
}

#signIn,
#signUp {
  color: #000;
  height: 100%;
  border-radius: 12px;
  padding: 10px;
  font-size: 1.5vw;
  text-align: center;
  border-color: transparent;
  z-index: 1;
  top: 1vw;
}
#signIn a{
  color: #000000;
}
.signIn_Container{
  display: flex;
  justify-content: end;
  position: relative;
  height:3.5vw;
  top: 1vw;
  color: #000;
}
.signIn_Container a{
  color: #000;
}
#signIn button a{
  color: #000;
}
#signIn button{
  color: #000;
}
#signIn:hover {
  transform: scale(.97);
}
#openTab {
    display: flex;
    align-items: center;
    position: absolute;
    left: 3vw;
    top: 2vw;
}
.services{
  display:flex ;
  justify-content: center;
  color: rgb(6, 127, 193);
  font-size: 4vw;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  
}
.underline{
  border-bottom: #6db8ff45 3px solid;
  width: 4%;
  bottom: .5vw;
  transform: translateX(1209%);
  position: relative;
}
.signOutBackground {
  transition: .5s ease;
  font-weight: 500;
  background-color: transparent;
  color: #999999;
  border-radius: 10px;
  border: 2px solid rgb(6, 127, 193);
  transition: 0.3s ease;


}
.signOutBackground:hover {
    background-color: rgb(6, 127, 193);
    color: white;
}
.before_after{
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: center;
  color: rgb(6, 127, 193);
  font-size: 3vw;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

.slideshow{
  width: 80vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 ;
  align-items: center;
  /* border: red solid; */
}
.slideshow_box{
  background-color: #dcdada64;
  padding-bottom: 50px;
  /* border: rgb(0, 255, 251) solid; */
  display: grid;
  justify-content: center;
}

.gallery-container {
  width: 100%;
  max-height: 40vw;
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px;
  border-radius: 5px;
  max-width: fit-content;
}

.gallery-track {
  transition: transform 0.5s ease;
}

.gallery-track img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  bottom: 5vw;
  
}

.prev, .next {
  position: absolute;
  top: auto;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 0;
  top: 50%;
}

.next {
  right: 0;
  top: 50%;
}


.container{
  display: grid;
  max-width: 90%;
  align-items: center;
  margin-left: 6vw;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  /* border: rgb(255, 0, 0) 3px solid; */
  grid-template-columns: 1fr;
}

.container img{
  width: 40vw;
  height: 20vw;
  transition: .5s ease;
  box-shadow: 0px 0px 10px 1px;
  border-radius: 5px;
  /* border: rgb(0, 255, 89) 3px solid; */
  position: relative;
  top: 0;
  margin: 30px;
}
.container p{
  max-width: 550px;
  position: absolute;
  font-size: 15pt;
  color: #000000;
  line-height: 2.5vw;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-style: normal;
  /* border: rgb(149, 0, 255) 3px solid; */
  bottom: 0;
  justify-self: end;
  margin: 70px 120px;
}
.container h2{
  position: absolute;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  /* border: rgb(255, 0, 247) 3px solid; */
  top: 0;
  justify-self: end;
  max-width: 600px;
  margin: 80px 100px;
}


/* Container 2 */
.container_2{
  display: grid;
  width: 90%;
  align-items: center;
  margin-left: 6vw;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  grid-template-columns: 1fr;
  /* border: rgb(255, 225, 0) 3px solid; */
}
.container_2 h2{
  position: absolute;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  /* border: rgb(255, 0, 247) 3px solid; */
  top: 0;
  justify-self: start;
  max-width: 600px;
  margin: 90px 75px;
}
.container_2 p{
  width: 500px;
  position: absolute;
  font-size: 15pt;
  color: #000000;
  line-height: 2.5vw;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  /* border: rgb(149, 0, 255) 3px solid; */
  bottom: 0;
  justify-self: start;
  margin: 40px 124px;
 
}

.container_2 img{
  width: 40vw;
  height: 20vw;
  transition: .5s ease;
  box-shadow: 0px 0px 10px 1px;
  border-radius: 5px;
  /* border: rgb(0, 255, 89) 3px solid; */
  position: relative;
  top: 0;
  margin: 40px;
  justify-self: end;
}


.box{
  display: block;
  justify-content: center;
  /* border: rgb(255, 115, 0) 3px solid; */

}



@media screen and (max-width: 1000px) {


  .container {
    display: block;
    grid-template-columns: 1fr; 
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: center;
  }

  .container img,
  .container p,
  .container h2 {
    position: static;
    width: auto;
    height: auto;
    margin: 20px 0; 
    line-height: 35px;
    
  }

  .container img {
    max-width: 100%;
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 

  }

  .container p {
    max-width: 100%;
    text-align: center;
    font-size: 14pt;
  }

  .container h2 {
    max-width: 100%;
    text-align: center;
    font-size: 16pt;
  }

  .container_2 {
    display: block;
    grid-template-columns: 1fr; 
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: center;
  }

  .container_2 img,
  .container_2 p,
  .container_2 h2 {
    position: static; 
    width: auto;
    height: auto;
    margin: 20px 0; 
    line-height: 35px;
    justify-self: center;
    
  }

  .container_2 img {
    max-width: 100%; 
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
  }

  .container_2 p {
    max-width: 100%;
    text-align: center;
    font-size: 14pt;
  }

  .container_2 h2 {
    max-width: 100%;
    text-align: center;
    font-size: 16pt;
  }
}

@media screen and (max-width: 414px) { 


  .container,
  .container_2 {
    position: relative;
    max-width: 50%; 
    margin-left: 3vw; 
    margin-right: 3vw; 
    margin-top: 50px; 
    margin-bottom: 50px; 
  }

  .container img,
  .container_2 img {
    width: 80%; 
    height: auto; 
    margin: 5px auto; 
  }

  .container h2,
  .container_2 h2,
  .container p,
  .container_2 p {
    max-width: 50%; 
    margin: 20px auto; 
    font-size: 14pt; 
  }

  .container_2 img {
    position: static; 
    margin-left: auto; 
    margin-right: auto; 
  }
}

.hero-section{
  position: relative;
  height: 44vw;
  transform-style: preserve-3d;
  top: 0;
  
}
.hero-section img{
  width:100%;
  height: 44vw;
  position: relative;
  z-index: -1;
  bottom: 7vw;
  transform: translate3d(0, 0, -1px) scale(2);
  background-size: cover;
  background-position: center center;
  object-fit:fill;
  
}

span{
  font-size: 25px;
  font-weight: 500;
}

.wrapper{
  position: relative;
  height: 100%;
  top: 0;
  /* background-image: url(https://cdn.smartstuff.howstuffworks.com/smartstuffhowstuffworks/wp-content/uploads/2021/03/smartstuff-handyman.jpg); */
  
}


footer{
  position: relative;
  bottom: 0;
}
@media (max-height:800px){
  footer{
    position: static;
  }
  header{
    padding-top: 40px;
  }
}
.footer-distributed{
  background-color: #2d2a30;
  box-sizing: border-box;
  widows: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding:70px 50px 60px 50px;
  margin-top: 100px;
  position: relative; 
  bottom: 0;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;

}
.footer-distributed .footer-left{
  width: 30%;
}

.footer-distributed h3{
  color: #ffff;
  font:normal 36px 'cookie', cursive;
  margin: 0;
}
.footer-distributed h3 span{
  color: #a2ddff;
}
.footer-distributed .footer-links{
  color: #fff;
  margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name{
  color: #999999;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center{
  width: 35%;
}
.footer-distributed .footer-center i{
  background-color: #33383b;
  color: white;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px
}
.footer-distributed .footer-center p{
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a{
  color: #a2ddff;
  text-decoration: none;
}
.footer-distributed .footer-right{
  width: 30%;
}
.footer-distributed .footer-company-about{
  line-height: 20px;
  color: white;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span{
  display: block;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons{
  margin-top: 25px;
}
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor:pointer;
  background-color: #2d2a30;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover{
  background-color: blue;
}
.footer-links a:hover{
  color: blue;
}
@media(max-width: 880px){
  .footer-distributed .footer-links, .footer-distributed .footer-center, .footer-distributed .footer-right{
    display: block;
    width: 100%;
    text-align: center;
  }
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}

/* //////////////////////////////// review home page \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.review-container{
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.review-box{
  position: relative;
  display: flex;
  height: 100vh;
}
.rev-section{
  position: relative;
  margin: auto;
  padding: 0 1rem;
  max-width: 1100px;
  text-align: center;
}
.title{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: gray;
  margin-bottom: .5rem ;
}
.note{
  font-size: 1.1rem;
  color: lightgray;
  font-style: italic
}
.reviews{
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.review{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
  transition: .5s ease-in;
}
.review:hover{
  transform: scale(1.1);
}
.head-review{
  margin: 1.75rem auto;
  width: 150px;
  height:150px;
}
.head-review img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0,0,0, .25);
}
.body-review{
  background-color: white;
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px white;
}
.name-review{
  font-size: 1.5rem;
  color: gray;
  margin-bottom: .25rem;
}
.place-review{
  color: rgb(6, 127, 193);
  font-style: italic;
}
.ratings{
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}
.desc-review{
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: gray;
}
@media(max-width:678px){
  .review{
      margin-top: 1.5rem;
  }
}


/* ///////////////////////Chat Bot\\\\\\\\\\\\\\\\\\\\\\\\\ */

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.menuToggle{
  position: absolute;
  height: 75px;
  width: 75px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #000;
  border-radius: 50%;
  cursor: pointer;
}
.menuToggle i{
  font-size: 55px;
  color: #ffffff;
  position: relative;
  bottom:4.5px;
}
.chatbot_container{
  height: 50px;
  width: 30px;
  border: 3px solid rgba(255,255,255,.5);
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  position: absolute;
  /* display: none; */
  transition: .5s, height, .5s, width,.5s ;
  z-index: -1;
  transition-timing-function: cubic-bezier(0.075,cubic-bezier(0.075, 0.82, 0.165, 1));
  bottom: 30px;
  transition-delay: 9s,0.5;
}
.manuToggle.active ~ .chatbot_container{
  height: 550px;
  width: 390px;
  z-index: 1;
  transform: translateY((-100px));
}
.chatbot_container::before{
  content: "";
  position: absolute;
  background: #fff;
  height: 100px;
  width: 100px;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  transition: .5s;
}
.menuToggle.active ~ .chatbot_container::before{
  transition-delay: .5s;
}
.chatbot_container .top-part{
  height: 100px;
  background: #0f0f20;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.chatbot_container .top-part i{
  color: white;
  font-size: 40px;
  cursor: pointer;
}
.top-part .agent-details{
  display: flex;
  align-items: center;
}
.chatbot_container .top-part .agent-details img{
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
}
.top-part .agent-text{
  margin-left: 10px;

}
.agent-text h3{
  font-size: 15px;

}
.agent-text p{
  font-size: 11px;
}
.agent-text span{
  color: #0f0;
  font-size: 11px;
}
.chart-section{
  position: relative;
  padding: 10px;
}
.left-part{
  margin: 60px 0;
  max-width: 260px;
}
.left-part img{
  height: 50px;
  background: #0f0f20;
  border-radius: 50%;
}
.left-part p{
  color: #555;
  font-weight: 400;
  font-size: 14px;
  background: rgba(0,0,0,.1);
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
}
.agent-chart{
  display: flex;
  align-items: center
  
}
.chart-section .right-part{
  margin: -50px 0;
  text-align: right;
  max-width: 260px 0;
  float: right;
  font-size: 14px;
}
.chart-section .right-part p{
  color: #fff;
  font-size: 13px;
  background: #0f0f20;
  padding: 8px 24px;
  border-radius: 10px;
}
.chart-section.right-part span{
  color: #555;
  font-size:11px;
   font-weight: 500
}
.bottom-section{
  position: absolute;
  bottom: 10px;
  /* height: 45px; */
  width: 80%;
  background: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 2px solid rgba(0,0,0,.1);
  padding: 10px;

}
.bottom-section i{
  color: #0f0f20;
  font-size: 30px;
}
.bottom-section textarea{
  height: 40px;
  color: #0f0f20;
  width: 80%;
  padding: 0 5px;
  resize: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  overflow-y: hidden;
}



@import url("https://fonts.googleapis.com/css?family=Heebo:900|Roboto|Satisfy&display=swap");

body {
  margin: 0;

  font-family: "Roboto", sans-serif;
}

.Header__container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 5em;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 5vw;
  width: 100%;
}

.Header__left {
  display: flex;
  flex-direction: row;
  font-family: "Satisfy", cursive;
}

.Header__logo {
  width: 4.5em;
  margin: auto;
}

.Header__title {
  display: flex;
  margin-left: 0.6em;
}

h1 {
  font-weight: normal;
  margin: 0.1em;
}

.Header__menu {
  margin: auto 0;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 0.8em;
}

.Header__menuItem {
  list-style-type: none;
  margin: auto 1em;
}

.Hero {
  color: white;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.Hero__content {
  margin: 40vh auto auto 10vw;
  width: 50%;
}

.Hero__title {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  margin: 0;
  text-shadow: 0px 0px 8px black;
  font-size: 3em;
  line-height: 1em;
}

.Hero__subtitle {
  opacity: 0.85;
  margin-top: 0.5em;
  text-shadow: 0px 0px 8px black;
  font-size: 1.5em;
}

.Hero__action {
  height: 3em;
  border-radius: 2em;
  background-color: #c49000;
  color: white;
  border: none;
  padding: 0.4em 2em;
  box-shadow: 0px 0px 8px black;
  position: relative;
  width: 14em;
  cursor: pointer;
}

@media (max-width: 700px) {
  .Hero__content {
    width: 90%;
    margin: 40vh 2em auto 2em;
  }
}

.Hero__action:hover {
  animation: callToAction 1500ms ease-in infinite;
}

@keyframes callToAction {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.07);
  }
  50% {
    transform: scale(1.04);
  }
  60% {
    transform: scale(1.07);
  }

  100% {
    transform: scale(1);
  }
}

.Hero__actionText {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  font-family: "Heebo", sans-serif;
  font-size: 1.1em;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
}

@media (max-height: 500px) {
  .Hero__title {
    font-size: 2em;
  }

  .Hero__subtitle {
    font-size: 1em;
  }

  .Hero__action {
    height: 1.4em;
    border-radius: 1.4em;
    width: 4.5em;
  }

  .Hero__actionText {
    font-size: 0.9em;
  }
}

.Hero__image {
  display: inline-block;
  position: absolute;
  z-index: -10;
  height: 100vh;
  width: 100%;
  background-color: red;
  background-image: url("https://cdn.smartstuff.howstuffworks.com/smartstuffhowstuffworks/wp-content/uploads/2021/03/smartstuff-handyman.jpg");
  background-position: center;
  background-size:cover;
}



.Hero__snowfall {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -6;
  opacity: 0.75;
}
