@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Apply box-sizing to all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Ubuntu", sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.navbar {
    height: 90px;
    background-color: #1a1a1a;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo i{
    color: #0aa5ff;
    font-size: 22px;
}

.navbar .logo a {
    font-size: 24px;
    color: white;
    margin-left: 12px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu-links {
    display: flex;
    gap: 24px;
    border-right: 1px solid #999999;
    padding-inline: 24px;
}

.menu-links a {
    font-weight: 500;
    color: #999999;
    padding: 8px 16px;
    transition: .3s ease;
}

.menu-links a:hover {
    color: white;
    transform: scale(1.1);
}
.menu-links ul{
    padding: 0;
    margin: 0;
    list-style: none;
    
}
.menu-links ul li{
    font-size: 17pt;
    font-family: "Ubuntu", sans-serif;
    top: 1.5vw;
    font-weight: 500;
    padding: 8px 16px;
    position: relative;
    display: inline-block;
    background-color: #1a1a1a;
    width: 25vw;
    
    
}
.menu-links ul ul{
    display: none;
    position: absolute;
    top: 20px;
    text-align: left;
    z-index: 1;
    
}
.menu-links ul li:hover>ul{
    display: inherit;
}

.log-in {
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: #999999;
    border-radius: 10px;
    border: 2px solid rgb(6, 127, 193);
    transition: 0.2s ease;
}

.log-in:hover {
    background-color: rgb(6, 127, 193);
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(6, 127, 193);
}

.menu-btn {
    font-size: 24px;
    color: white;
    display: none;
    cursor: pointer;
}
.services-btn{
    width: 1vw;
}

@media (max-width: 53rem) {
    .menu-links {
        display: none; 
    }

    .menu-btn {
        display: block; 
    }
}
