.container {
    position: relative;
    margin: auto;
    width: 30%;
    text-align: center;
    margin-top: 100px;
    display: block;
    justify-content: center;
    align-items: center;
}
form{
    box-shadow: 0 10px 20px#333;
    padding: 20px;
}
.form-group {
    margin-bottom: 20px;
}

.form-row {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-control {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.custom-file-upload {
    width: calc(100% - 20px);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #333;
    
}

.btn {
    position: relative;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #45a049;
}
.footer-distributed{
    margin-top: 500px;
}
#myFile {
    position: absolute;
    left: -9999px;
}