
body {
  background-color: #ffffff;
}

.sideNav {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px, 0px, 50px white;
}
.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
  box-shadow: 0px, 0px, 50px white;
}
.sideNav button{
  background-color: transparent;
  margin-bottom: .2vw;
  border-color: rgb(18, 19, 29);
  box-shadow: 5px, 5px, 50px white;
  border-style: none;
}
.sideNav button:hover, .sideNav i{
  transform: scale(1.1);
  box-shadow: 0px, 0px, 50px white;
}
.sideNav a:hover{
    color: #6dcaff;
    text-shadow: #d6f7fb;
    
}
.sideNav a{
  color: white;
}

.sideNav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #ffffff;
}
@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
  }



#tjCompany {
    position: relative;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 2vw;
    color: rgb(6, 127, 193);
    letter-spacing: 2px;
    bottom:3.5vw;
    width: fit-content;
    left: 35vw;


}
#headerSection {
  height: 5vw;
}

#signIn,
#signUp {
  color: #000;
  height: 100%;
  border-radius: 12px;
  padding: 10px;
  font-size: 1.5vw;
  text-align: center;
  border-color: transparent;
  z-index: 1;
  top: 1vw;
}
#signIn a{
  color: #000000;
}
.signIn_Container{
  display: flex;
  justify-content: end;
  position: relative;
  height:3.5vw;
  top: 1vw;
  color: #000;
}
.signIn_Container a{
  color: #000;
}
#signIn button a{
  color: #000;
}
#signIn button{
  color: #000;
}
#signIn:hover {
  transform: scale(.97);
}
#openTab {
    display: flex;
    align-items: center;
    position: absolute;
    left: 3vw;
    top: 2vw;
}
.services{
  display:flex ;
  justify-content: center;
  color: rgb(6, 127, 193);
  font-size: 5vw;
}
.signOutBackground {
  transition: .5s ease;
  font-weight: 500;
  padding: 12px 22px;
  background-color: transparent;
  color: #999999;
  border-radius: 10px;
  border: 2px solid rgb(6, 127, 193);
  transition: 0.3s ease;


}
.signOutBackground:hover {
    background-color: rgb(6, 127, 193);
    color: white;
}

.slideshow{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.gallery-container {
  width: 30%;
  max-height: 10%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.gallery-track {
  transition: transform 0.5s ease;
}

.gallery-track img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.prev, .next {
  position: absolute;
  top: auto;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 0;
  top: 50%;
}

.next {
  right: 0;
  top: 50%;
}

/* //////////////////////////////// Services \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* Container 1 */
.container{
  display: flex;
  max-width: 90%;
  max-height: 20vw;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  left: 5vw;
  border: red 3px solid;
}

.container img{
  width: 40vw;
  height: 20vw;
  transition: .5s ease;
}
.container p{
  height:auto;
  width: auto;
  font-size: 15pt;
  color: #000000;
  position: relative;
  left: -21vw;
  margin-right: 0vw;
  margin-left: 1vw;
  line-height: 2.5vw;
  text-align: center;
  padding: 18px 20px 18px 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: red 3px solid;

}
.container h2{
  top: -7vw;
  height:auto;
  width: auto;
  font-size: 15pt;
  color: #000000;
  position: relative;
  left: 3vw;
  margin-right: 0vw;
  margin-left: 1vw;
  line-height: 2.5vw;
  text-align: center;
  padding: 18px 20px 18px 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: red 3px solid;
}
/* Container 2 */
.container2{
  position: relative;
  display: flex;
  max-width: 90%;
  max-height: 20vw;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 100px;
  align-items: center;
  flex-wrap: wrap;
  right: 0vw;
  border: red 3px solid;
}
.container2 h2{
  top: -6vw;
  height:auto;
  width: auto;
  font-size: 15pt;
  color: #000000;
  position: relative;
  right: 33vw;
  margin-right: 0vw;
  margin-left: 1vw;
  line-height: 2.5vw;
  text-align: center;
  padding: 18px 20px 18px 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: red 3px solid;
}
.container2 p{
  top: 0vw;
  height:auto;
  width: auto;
  font-size: 15pt;
  color: #000000;
  position: relative;
  line-height: 2.5vw;
  text-align: center;
  padding: 18px 20px 18px 20px;
  transform: translateX(-1230%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: red 3px solid;
}

.container2 img{
  position: relative;
  width: 40vw;
  height: 20vw;
  transform: translateX(133%);
  margin: 30px;
  transition: .5s ease;
}
/* Container 3 */
.container3{
  display: flex;
  max-width: 90%;
  max-height: 20vw;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  left: 5vw;
  border: red 3px solid;
}
.container3 h2{
  top: -6vw;
  height:auto;
  width: auto;
  font-size: 15pt;
  color: #000000;
  position: relative;
  left: 3vw;
  margin-right: 0vw;
  margin-left: 1vw;
  line-height: 2.5vw;
  text-align: center;
  padding: 18px 20px 18px 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: red 3px solid;
}
.container3 img{
  width: 40vw;
  height: 20vw;
  transition: .5s ease;
}
.container3 p{
  height:auto;
  width: auto;
  font-size: 15pt;
  color: #000000;
  position: relative;
  left: -23vw;
  top: 2vw;
  margin-right: 0vw;
  margin-left: 1vw;
  line-height: 2.5vw;
  text-align: center;
  padding: 18px 20px 18px 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: red 3px solid;
}

.box{
  display: block;
  justify-content: center;
  border: red 3px solid;
}

