
body {
  background-color: #ffffff;
}

.sideNav {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px, 0px, 50px white;
}
.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
  box-shadow: 0px, 0px, 50px white;
}
.sideNav button{
  background-color: transparent;
  margin-bottom: .2vw;
  border-color: rgb(18, 19, 29);
  box-shadow: 5px, 5px, 50px white;
  border-style: none;
}
.sideNav button:hover, .sideNav i{
  transform: scale(1.1);
  box-shadow: 0px, 0px, 50px white;
}
.sideNav a:hover{
    color: #6dcaff;
    text-shadow: #d6f7fb;
    
}
.sideNav a{
  color: white;
}

.sideNav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #ffffff;
}
@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
  }



#tjCompany {
    position: relative;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 2vw;
    color: rgb(6, 127, 193);
    letter-spacing: 2px;
    bottom:3.5vw;
    width: fit-content;
    left: 35vw;


}
#headerSection {
  height: 5vw;
}

#signIn,
#signUp {
  color: #000;
  height: 100%;
  border-radius: 12px;
  padding: 10px;
  font-size: 1.5vw;
  text-align: center;
  border-color: transparent;
  z-index: 1;
  top: 1vw;
}
#signIn a{
  color: #000000;
}
.signIn_Container{
  display: flex;
  justify-content: end;
  position: relative;
  height:3.5vw;
  top: 1vw;
  color: #000;
}
.signIn_Container a{
  color: #000;
}
#signIn button a{
  color: #000;
}
#signIn button{
  color: #000;
}
#signIn:hover {
  transform: scale(.97);
}
#openTab {
    display: flex;
    align-items: center;
    position: absolute;
    left: 3vw;
    top: 2vw;
}
.services{
  display:flex ;
  justify-content: center;
  color: rgb(6, 127, 193);
  font-size: 5vw;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.signOutBackground {
  transition: .5s ease;
  font-weight: 500;
  padding: 12px 22px;
  background-color: transparent;
  color: #999999;
  border-radius: 10px;
  border: 2px solid rgb(6, 127, 193);
  transition: 0.3s ease;


}
.signOutBackground:hover {
    background-color: rgb(6, 127, 193);
    color: white;
}
.before_after{
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: center;
  color: rgb(6, 127, 193);
  font-size: 4vw;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}
.before_after h1{
  
}
.slideshow{
  width: 100%;
  height: 32vw;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 ;
  align-items: center;
}

.gallery-container {
  width: 50%;
  max-height: 30vw;
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px;
  border-radius: 5px;
}

.gallery-track {
  transition: transform 0.5s ease;
}

.gallery-track img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  bottom: 5vw;
  
}

.prev, .next {
  position: absolute;
  top: auto;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 0;
  top: 50%;
}

.next {
  right: 0;
  top: 50%;
}

/* //////////////////////////////// Services \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* Container 1 */
.container{
  display: flex;
  max-width: 90%;
  max-height: 20vw;
  align-items: center;
  margin-left: 6vw;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.container img{
  width: 40vw;
  height: 20vw;
  transition: .5s ease;
  box-shadow: 0px 0px 10px 1px;
  border-radius: 10px;
}
.container p{
  align-self: end;
  height:auto;
  width: auto;
  font-size: 15pt;
  color: #000000;
  position: absolute;
  /* left: -21vw; */
  margin-left: 52%;
  line-height: 2.5vw;
  text-align: center;
  padding: 0px 20px 18px 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.container h2{
  align-self: start;
  height:auto;
  width: auto;
  font-size: 20pt;
  color: #000000;
  position: relative;
  line-height: 2.5vw;
  margin-left: 0vw;
  text-align: center;
  left: 2vw;
  padding: 18px 20px 0px 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* Container 2 */
.container2{
  display: flex;
  max-width: 90%;
  max-height: 20vw;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}
.container2 h2{
  align-self: start;
  height:auto;
  width: auto;
  font-size: 20pt;
  color: #000000;
  position: relative;
  line-height: 2.5vw;
  /* margin-left: 5vw; */
  text-align: center;
  margin-top: 3vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transform: translateX(-78%);
}
.container2 p{
  align-self: end;
  height:auto;
  width: auto;
  font-size: 15pt;
  color: #000000;
  position: absolute;
  margin-left: 52%;
  line-height: 2.5vw;
  text-align: center;
  padding: 0px 20px 18px 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transform: translateX(-92%);
}

.container2 img{
  position: relative;
  width: 40vw;
  height: 20vw;
  transform: translateX(140%);
  margin: 30px;
  transition: .5s ease;
  box-shadow: 0px 0px 10px 1px;
  border-radius: 10px;
}


.box{
  display: block;
  justify-content: center;

}
.hero-section{
  position: relative;
  height: 25vw;
  overflow: hidden;
  transform-style: preserve-3d;

}
.hero-section img{
  width:100%;
  position: relative;
  bottom: 5vw;
  z-index: -1;
  transform: translate3d(0, 0, -1px) scale(2);
  background-size: cover;
  background-position: center center;
  
}
.hero-section h1{
  font-size:120px;
  position: absolute;
  transform: translate(-50,-50);
  left: 15%;
  top: 15%;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
span{
  font-size: 30px;
  font-weight: 500;
}
.wrapper_outer{
  overflow: hidden;
}
.wrapper{
  height: 100%;
  overflow-x: hidden;
  perspective: 1px;
  box-shadow: 0px 0px 20px 1px;
}


