.rating-body{
    position: relative;
    display: grid;
    height: 40vh;
    place-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    align-items: center;
    margin: 0;
}

.rating-container form .star-widget {
    display: block;
}

.rating-container form .star-widget input[type="radio"] {
    display: inline-block;
}

.rating-container{
    position: relative;
    width: 400px;
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vw;
    bottom: 5vw;
    box-shadow: 0 10px 20px gray;
}
.rating-container .post{
    display: none;
}
.rating-container .text{
    position: relative;
    font-size: 25px;
    color: #666;
    font-weight: 500;
    top: 15px;
}
.rating-container .edit{
    position: relative;
    left: 160px;
    bottom: 40px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}
.rating-container .edit:hover{
    text-decoration: underline;
}
.rating-container .star-widget input{
    display: none;
}
.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color:rgb(92, 192, 246);
}
input:checked ~ label{
    color: rgb(92, 192, 246);
}
input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ .rating-items header:before{
    content: "It needs improvement 😠";
}
#rate-2:checked ~ .rating-items header:before{
    content: "I don't like it 😒";
}
#rate-3:checked ~ .rating-items header:before{
    content: "I just like it 😎";
}
#rate-4:checked ~ .rating-items header:before{
    content: "It is awesome 😃";
}
#rate-5:checked ~ .rating-items header:before{
    content: "I just love it 😍";
}
.rating-container .rating-items{
    display: none;
}
input:checked ~ .rating-items{
    display: block;
}
form header{
    width: 100%;
    font-size:25px ;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
form .textarea .ratingtext{
    height:100%;
    width: 100%;
    color: #000000;
    outline: none;
    border: 1px solid #b4d7ff;
    background: #f8fdff;
    padding: 10px;
    font-size: 17px;
    resize: none;
    display: initial !important;
}
form .btn{
    height:45px;
    width: 100%;
    margin: 15px 0;
}
form .btn button{
    height:100%;
    width: 100%;
    border: .5px solid #b4d7ff;
    outline: none;
    background: #f8fdff;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
form .btn button:hover{
    background: #d9f4ff;
}
header.rate-us{
    position: relative;
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 500;
}