{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'admin_page.css' %}">
<head>

<body>

    <div class="admin-container">
        <div class="admin-sidebar">
            <div class="option-button">
                <a href="{% url 'user_list' %}">View Users</a>
                <a href="{% url 'reviews_list' %}">View Reviews</a>
                <a href="{% url 'request_list' %}">View Requests</a>
            </div>
        </div>

        <div class="admin_welcome_message">
            {% if request_obj %}
                <h2>Request Details</h2>
                <p><strong>Name:</strong> {{ request_obj.name }}</p>
                <p><strong>Location:</strong> {{ request_obj.location }}</p>
                <p><strong>Date:</strong> {{ request_obj.date }}</p>
                <p><strong>Message:</strong> {{ request_obj.message }}</p>
                <p><strong>Status:</strong> {{ request_obj.status }}</p>
                
                {% if request_obj.status == 'Pending' %}
                    <p>Change Status:</p>
                    <ul>
                        <a href="{% url 'change_status' request_obj.id 'Finished' %}" onclick="confirmChangeStatus(event, 'Completed')">Completed</a>
                        <hr>
                        <a href="{% url 'change_status' request_obj.id 'Accepted' %}">Accepted</a>
                    </ul>
                {% elif request_obj.status == 'Accepted' %}
                    <p>Change Status:</p>
                    <ul>
                        <a href="{% url 'change_status' request_obj.id 'Finished' %}" onclick="confirmChangeStatus(event, 'Completed')">Completed</a>
                        <hr>
                        <a href="{% url 'change_status' request_obj.id 'Pending' %}">Pending</a>
                    </ul>
                {% elif request_obj.status == 'Finished' %}
                    <a href="{% url 'invoice_form' %}" class="create-invoice-btn">Create Invoice</a>
                {% endif %}

            {% else %}
            {% endif %}


            {% if not selected_user and not request_obj %}
            <h2>Welcome to the Admin Panel!</h2>
            <p>This admin panel provides access to manage users, reviews, and requests. Use the sidebar navigation to view and interact with different sections:</p>
            <ul>
                <li><strong>View Users:</strong> Click on "View Users" to see a list of registered users and their details.</li>
                <li><strong>View Reviews:</strong> Navigate to "View Reviews" to go through and moderate user reviews and ratings, choosing which ones will go on your website!</li>
                <li><strong>View Requests:</strong> Access "View Requests" to review pending or completed requests submitted by users.</li>
            </ul>
            <p>Explore the features and functionalities to manage your platform effectively!</p>

            {% endif %}

            {% if selected_user %}
            <div class="selected-user-details">
                <h2>{{ selected_user.username }}'s Details</h2>
                <h2><strong>Email:</strong> {{ selected_user.email }}</h2>
                
                <h2><strong>Reviews:</strong></h2>
                {% if reviews %}
                    <ul>
                        {% for review in reviews %}
                            <ul class="review-card">
                                <p><strong>Date:</strong> {{ review.date }}</p>
                                <p><strong>Rating:</strong> {{ review.rating }}</p>
                                <p><strong>Text:</strong> {{ review.text }}</p>
                                <p><strong>Approved:</strong> {{review.approved}}</p>
                            </ul>
                        {% empty %}
                            <li>No reviews found.</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No reviews found.</p>
                {% endif %}
                
                <h2><strong>Requests:</strong></h2>
                {% if selected_user.requests.all %}
                    <ul>
                        {% for request in selected_user.requests.all %}
                            <ul class="request-card">
                                <p><strong>Name:</strong> {{ request.name }}</p>
                                <p><strong>Location:</strong> {{ request.location }}</p>
                                <p><strong>Date:</strong> {{ request.date }}</p>
                                <p><strong>Status:</strong> {{ request.status }}</p>
                                <p><strong>Message:</strong> {{ request.message }}</p>
                                {% if request.filename %}
                                    <p><strong>Attachment:</strong> <a href="{{ request.filename.url }}">{{ request.filename.name }}</a></p>
                                {% endif %}
                            </ul>
                        {% empty %}
                            <li>No requests found.</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No requests found.</p>
                {% endif %}
                
            </div>
            {% endif %}

        </div>
        

        <div class="admin-content">
            {% if users %}
            <h1>User List</h1>
            <div class="user-cards-container">
                {% for user in users %}
                <div class="user-card">
                    <h2>{{ user.username }}</h2>
                    <p>Email: {{ user.email }}</p>
                    <a href="{% url 'more_user' user.id %}" class="view-more-btn">View More</a>
                </div>
                {% empty %}
                {% endfor %}
            </div>
            {% else %}
            {% endif %}

            {% if reviews %}
            <div class="reviews-cards-container">
                <h1>Reviews List</h1>
                {% for review in reviews %}
                <div class="review-card">
                    <h2>{{ review.user }}</h2>
                    <p>{{ review.text }}</p>
                    <p>{{ review.rating }}</p>
                    <p><strong>Approved:</strong> {{review.approved}}</p>
                    {% if not review.approved %}
                        <p>Would you like to post this review to your website?</p>
                        <form id="approveReviewForm" method="POST" action="{% url 'approve_review' review.id %}">
                            {% csrf_token %}
                            <button type="button" onclick="submitForm('True')">Yes</button>
                            <button type="button" onclick="submitForm('False')">No</button>
                        </form>
                    {% endif %}
                </div>
                {% empty %}
                <p>No reviews found.</p>
                {% endfor %}
            </div>
            {% endif %}

            {% if requests %}
                <h1>Request List</h1>
                <div class="request-cards-container">
                    {% for request in requests %}
                        <a href="{% url 'more_request' request.id %}" class="request-card">
                            <div>
                                <h2>{{ request.name }}</h2>
                                <p>{{ request.location }}</p>
                                <p>{{ request.date }}</p>
                                <p>{{ request.message }}</p>
                                <p>{{ request.status }}</p>    
                                <p><strong>(Click for more)</strong></p>
                            </div>
                        </a>
                    {% empty %}
                        <p>No requests found.</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>


    <script src="{% static 'admin_page.js' %}"></script>
</body>
{% endblock %}
