{% extends "base.html" %}
{% comment %} {% extends "admin/base_site.html" %} {% endcomment %}

{% load static%}



{% block content %}
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PM7B8FRC');
    </script>
    <!-- End Google Tag Manager -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PHX82QGLW4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PHX82QGLW4');
    </script>

    <!-- Google Tag Manager (noscript) -->

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PM7B8FRC"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <link rel="stylesheet" href="{% static 'admin_page.css' %}">
    <div class="admin-container">
        <div class="admin-sidebar">
            <div class="option-button">
                <a href="#analytics">Analytics</a>
            </div>
            <div class="option-button">
                <a href="#manage-users">Manage Users</a>
            </div>
            <div class="option-button">
                <a href="#manage-reviews">Manage Reviews</a>
            </div>
            <div class="option-button">
                <a href="#manage-gallery">Manage Gallery Images</a>
            </div>
            <div class="option-button">
                <a href="#template-edits">Template Edits</a>
            </div>
        </div>
    </div>    
{% endblock %}
