{% extends 'base.html'%}
{% load static %}
{% block content %}    
<head>
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="{% static "gallery.css" %}">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PHX82QGLW4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PHX82QGLW4');
</script>
<body>
    
    
    
    <div class='Gallery-container'>
        <h2><br>Welcome, Please Have A Look At My Work!</h2>
        {% for header, cards_group in cards.items %}
            <div class="Gallery-container">
                <div class="header">{{ header }}</div>
                <div class="card-container">
                    {% for card in cards_group %}
                        <div class="card">
                            <img src="{{ card.before_Pic.url }}">
                            <img src="{{ card.after_Pic.url }}">
                            <div class="content">
                                <h2>{{ card.title }}</h2>
                                <p>{{ card.description }}</p>
                                {% if card.url %}
                                    <a href="{{ card.url }}" target="_blank">Read More</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    
    

    
{% endblock content %}    
</body>
</html>
