{% extends 'base.html'%}
{% load static %}
{% block content %}    
<head>
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="{% static "gallery.css" %}">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PHX82QGLW4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PHX82QGLW4');
</script>
<body>
    <div class='Gallery-container'>
        <div class="input-group">
            <input id="searchInput" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
        </div>
          
        {% for header, cards_group in cards.items %}
            <div class="Gallery-container" style='position:relative;top:1vw'>
                <div class="header">{{ header }}</div>
                <div class="card-container">
                    {% for card in cards_group %}
                        <div class="card" data-title="{{ card.title|lower }}" data-header="{{ header|lower }}">
                            <img src="{{ card.before_Pic.url }}">
                            <img src="{{ card.after_Pic.url }}">
                            <div class="content">
                                <h2>{{ card.title }}</h2>
                                <p>{{ card.description }}</p>
                                {% if card.url %}
                                    <a href="{{ card.url }}" target="_blank">Read More</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    
<script>
    document.getElementById('searchInput').addEventListener('input', function() {
        const searchValue = this.value.trim().toLowerCase();
        const cards = document.querySelectorAll('.card');
        cards.forEach(function(card) {
            const cardTitle = card.getAttribute('data-title');
            const cardHeader = card.getAttribute('data-header');
            if (cardTitle.includes(searchValue) || cardHeader.includes(searchValue)) {
                card.style.display = 'block';
            } else {
                card.style.display = 'none';
            }
        });
    });
</script>
</body>
{% endblock content %}    
</body>
</html>