{% extends 'index.html' %}
{% load static %}

{% block content %}
<head>
  <title>Reviews</title>
  <link rel="stylesheet" href="{% static "reviews.css" %}">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PHX82QGLW4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PHX82QGLW4');
</script>
<body>
  <div class="testimonials">
    {% for review in reviews %}
    <div class="card">
        <div class="layer"></div>
        <div class="content">
            <p>{{review.text}}</p>
              {% if review.rating == 1 %}
                <div class="stars">{{review.rating}}</div>
              {% endif %}
                <div class="details"><h2>{{review.user}}</h2></div>
        </div>
    </div>
      {% endfor %}
    </div>
</body>
{% endblock %}
