{% extends 'base.html'%}
{% load static %}
<body>
    <nav class="navbar">
        <div class="logo">
            <i class="fas fa-font-awesome"></i>
            <a href="#"> TJ's Handyman Service </a>
        </div>
        
        <div class="menu">
            <div class="menu-links">
                <ul>
                    <li><a href='#'>Services</a>
                        <ul>
                            <li><a href='#'>Construction & Renovation</a>
                                <ul>
                                    <li><a href='#'>Carpentry</a></li>
                                    <li><a href='#'>Woodwork</a></li>
                                    <li><a href='#'>Deck Building/Repair</a></li>
                                    <li><a href='#'>Shed/Fence Removal</a></li>
                                    <li><a href='#'>Exterior Upgrades</a></li>
                                    <li><a href='#'>Interior Upgrades</a>
                                    <li><a href='#'>Custom Work</a></li>
                                    <li><a href='#'>Pergola Building</a></li>
                                    
                                </ul>
                            <li><a href='#'>Landscaping & Outdoor Services</a>
                                <ul>
                                    <li><a href='#'>Landscaping</a></li>
                                    <li><a href='#'>Small Tree Removal</a></li>
                                    <li><a href='#'>Pressure Washing</a></li>
                                    <li><a href='#'>Firwood/Splitting</a></li>
                                    <li><a href='#'>Wild Hog Extermination</a></li>
                                    <li><a href='#'>Maintenance & Repair</a>
                                </ul>
                            </li>
                        </li>
                            <li><a href='#'>Maintenance & Repair</a>
                                <ul>
                                    <li><a href='#'>Painting</a></li>
                                    <li><a href='#'>Welding</a></li>
                                    <li><a href='#'>Metal Work</a></li>
                                    <li><a href='#'>Repair Work</a></li>
                                    <li><a href='#'>Trailer Repair</a></li>
                                    <li><a href='#'>Cleaning</a>
                                </ul>
                            <li><a href='#'>Moving & Hauling</a>
                                <ul>
                                    <li><a href='#'>Moving</a></li>
                                    <li><a href='#'>Hauling</a>
                                </ul>
                            <li><a href='#'>Other Services</a>
                                <ul>
                                    <li><a href='#'>Furniture Assembly</a></li>
                                    <li><a href='#'>Blacksmithing</a></li>
                                    <li><a href='#'>Orgenizing</a>
                                </ul>
                            </li> 
                                 
                        </ul>
                    </li>
                </ul>
                <a href="#reviews"><h1 id="Review">Reviews</h1></a>
                <a href="{% url 'gallery' %}"><h1 id="gallery">Gallery</h1></a>
                <a href="{% url 'request_a_project' %}"><h1 id="request_a_project">Request a Project</h1></a>
            </div>
            {% if user.is_authenticated %}
                <div class="signOutBackground">
                    <div>
                        <a href="{% url 'signOut' %}" style="text-decoration: none;color: aliceblue;">Sign Out</a>
                    </div>
                </div>

                {% else %}
                <button class="log-in">
                    <a href="{% url 'signIn' %}" style="text-decoration: none;color: white;">Login/Sign-Up</a>
                </button>
            {% endif %}
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>            
        </div>
    </nav>
    <style>
        .star-button {
            background: none;
            border: none;
            font-size: 30px;
        }
        .star-button.clicked {
            background-color: yellow;
        }
    </style>
    <section id="navBar-Start">
        <div >
            <nav id="mySidenav" class="sideNav">
                <a href="javascript:void(0)" class="closebtn" style="position: absolute;top:2vw;" onclick="closeNav()">&times;</a>
                
                <button><a href="{% url 'Assembly'%}"><i class='bx bx-wrench'> Assembly</i></a></button>
                <button><a href="{% url 'Moving'%}"><i class='bx bxs-truck' > Hauling</i></a></button>
                <button><a href="{% url 'Installation'%}"><i class='bx bx-package'> Installation</i></a></button>
                <button><a href="{% url 'Outdoor_Help'%}"><i class='bx bx-landscape'> Outdoor Help</i></a></button>
                <button><a href="{% url 'Home_Repairs'%}"><i class='bx bx-building-house' > Home Repairs</i></a></button>
                <button><a href="{% url 'Painting'%}"><i class='bx bx-brush'> Painting/Stain</i></a></button>
                <button><a href="{% url 'Carpenter'%}"><i class='bx bx-ruler'> Carpentery</i></a></button>
            </nav>
            <script>
                function openNav() {
                    document.getElementById("mySidenav").style.width = "240px";
                }
                function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                }
                document.getElementById("mySidenav").style.width = "0";
                window.addEventListener('beforeunload', function () {
                    window.scrollTo(0, 0);
                });
            </script>
        </div>
        </div>
    </section>

<!--
    This Section can be the carousel of pictures
-->
{% block content %}
<section>
    <div id="spinningPictures">
        <ul>
            <img src="">
            <img src="">
            <img src="">
        </ul>
    </div>
</section>

<!--
    this can be the Section can be the body
-->
 <h1 class="services">Services</h1>
 <div class='box'>
    <div class="container">
        <img src="static/images/handymanPicOne.jpg">
        <h2>Crafting Your Space: Carpentry, Painting, and Custom Upgrades</h2>
        <p>Info</p>
    </div>
    <div class="container2">
        <img src="static/images/handymanPicTwo.jpg">
        <h2>From Welding to Woodwork: Expert Services for Your Property</h2>
        <p>Info</p>
    </div>
    <div class="container3">
        <img src="static/images/handymanPicThree.jpg"></a>
        <h2>Revamp Your Surroundings: Exterior Upgrades and Landscaping Solutions</h2>
        <p>Info</p>
    </div>
 </div>

<!--
    This Section will be the reviews for customers
-->
<section id="reviews">
    <div>
        <h1 style="color: black;">Please Leave A Review</h1>
    </div>

    <div>
        {% if user.is_authenticated %}
            <form id="reviewForm" method="post" action="{% url 'submit_review' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <p style="color: black;">Rating:</p>
                <div id="starRating">
                    <button type="button" onclick="handleRatingClick(1)" class="star-button">★</button>
                    <button type="button" onclick="handleRatingClick(2)" class="star-button">★</button>
                    <button type="button" onclick="handleRatingClick(3)" class="star-button">★</button>
                    <button type="button" onclick="handleRatingClick(4)" class="star-button">★</button>
                    <button type="button" onclick="handleRatingClick(5)" class="star-button">★</button>
                </div>
                <label for="id_comment" style="color: black;">Review:</label><br>
                <textarea id="id_comment" name="comment" rows="4" cols="50" style="color: black;"></textarea><br>
                <input type="hidden" id="id_rating" name="rating">
                <button type="submit" class="btn btn-primary">Submit Review</button> <!-- Change type to submit -->
            </form>
        {% else %}
            <p style="color: black;">Please <a href="{% url 'signIn' %}" style="color: blue;">log in</a> to leave a review.</p>
        {% endif %}
    </div>
</section>



 


<!--
    This can be the Footer
-->

<section>
    <div>
        <footer>
            <h3 style="color:white;">
                Contact Me!
            </h3>
            <pre style="color:white;">
                <a href="tel:228-363-3068">228-363-3068</a><p>OR at <a href="">505 Oxford Blv</a></p>
            </pre>
        </footer>
    </div>
</section>
<script>
        function handleRatingClick(rating) {
            document.getElementById("id_rating").value = rating;
    
            document.querySelectorAll('.star-button').forEach(function(button) {
                button.classList.remove('clicked');
                button.style.backgroundColor = ''; 
            });
    
            var clickedButton = document.querySelector('#starRating button:nth-child(' + rating + ')');
            const allStars = document.querySelectorAll('.star-button');
            clickedButton.classList.add('clicked');
            clickedButton.style.backgroundColor = 'yellow'; 
            const currentValue = Array.from(allStars).indexOf(clickedButton) + 1;
            for (let i = currentValue; i > 0; i--) {
                allStars[i - 1].style.backgroundColor = 'yellow';
            }
        }
    
</script>


{% endblock content %}


</body>


</html>