{% extends 'base.html'%}
{% load static %}
<body>
    <nav class="navbar">
        <div class="logo">
            <i class="fas fa-font-awesome"></i>
            <a href="#"> TJ's Handyman Service </a>
        </div>
    {% block content %}
        <div class='wrapper_outer'>
                <div class='wrapper'>
                    <div class='hero-section'>
                        <img src='static/images/Tjs.png'>
                    </div>
                </div>
        </div>    

            <!--
                this can be the Section can be the body
            -->
            <h1 class="services">Services</h1>
            <div class='underline'></div>
            <div class='box'>
                <div class="container">
                    <img src="static/images/handymanPicOne.jpg">
                    <h2>Crafting Your Space: Carpentry, Painting, and Custom Upgrades</h2>
                    <p>Explore the artistry of carpentry, the transformative power of painting, and the personalized touch of custom upgrades for your interior and exterior spaces.</p>
                </div>
                <div class="container2">
                    <img src="static/images/handymanPicTwo.jpg">
                    <h2>From Welding to Woodwork: Expert Services for Your Property</h2>
                    <p>Whether it's welding sturdy structures or crafting intricate woodwork, our skilled team offers a range of services to enhance your property's functionality and aesthetics.</p>
                </div>
                <div class="container">
                    <img src="static/images/handymanPicThree.jpg"></a>
                    <h2>Revamp Your Surroundings: Exterior Upgrades and Landscaping Solutions</h2>
                    <p>Elevate your outdoor space with fence building, pergola installation, landscaping, and exterior upgrades tailored to suit your style and needs.</p>
                </div>
                <div class="container2">
                    <img src="static/images/handymanPicFour.jpg">
                    <h2>Beyond the Basics: Specialized Services for Home and Property</h2>
                    <p>From blacksmithing to furniture assembly and odd jobs, trust us for a wide array of specialized services to meet your unique requirements.</p>
                </div>
            </div>
            <!--
                This Section can be the carousel of pictures
            -->
            <div class='slideshow_box'>
                <div class='before_after'>
                    <h3>Before & After Pictures</h3>
                </div>
                <div class='slideshow'>
                    
                    <div class="gallery-container">
                        <div class="gallery-track">
                            <img src="static/images/fence_before.jpg" />
                            <img src="static/images/fence_after.jpg" />
                            <img src="static/images/flooring_before.jpg" />
                            <img src="static/images/flooring_after.jpg" />
                            <img src="static/images/ManCave_before.jpg" />
                            <img src="static/images/ManCave_after.jpg" />
                        </div>

                        <!--
                            These are the actual buttons for the uh arrows
                        -->

                        <button class="prev" onclick="prevSlide()">&#10094;</button>
                        <button class="next" onclick="nextSlide()">&#10095;</button>
                    </div>
                    <script>
                        let slideIndex = 0;

                        function showSlide() {
                            const slides = document.querySelectorAll('.gallery-track img');
                            slides.forEach(slide => slide.style.display = 'none');
                            slides[slideIndex].style.display = 'block';
                        }

                        function nextSlide() {
                            const slides = document.querySelectorAll('.gallery-track img');
                            if (slideIndex < slides.length - 1) {
                                slideIndex++;
                            } else {
                                slideIndex = 0;
                            }
                            showSlide();
                        }

                        function prevSlide() {
                            const slides = document.querySelectorAll('.gallery-track img');
                            if (slideIndex > 0) {
                                slideIndex--;
                            } else {
                                slideIndex = slides.length - 1;
                            }
                            showSlide();
                        }

                        showSlide();
                        function goBack() {
                            window.history.back();
                        }
                    </script>
                </div> 
            </div>
        <!--
                This Section will be the reviews for customers
            -->
            <script src='https://kit.fontawesome.come/44f557ccce.js'></script>
            <div class="review-container">
                <div class="review-box">   
                    <div class="rev-section">
                        <h2 class="title">Our Guests Love Us</h2>
                        <p class="note">
                            I like to code. coding is so fun and I cant wait to code in the future.
                        </p>
                        <div class="reviews">
                        <div class="review">
                            <div class="head-review">
                                <img src='static/images/member.jpg' width='250px'>
                            </div>
                            <div class="body-review">
                                <div class="name-review">
                                    Blair J.
                                </div>
                                <div class="place-review">
                                    Grenada
                                </div>
                                <div class="rating">
                                    <i class='fas fa-star'></i>
                                    <i class='fas fa-star'></i>
                                    <i class='fas fa-star'></i>
                                    <i class='fas fa-star'></i>
                                    <i class='fas fa-star-half'></i>
                                </div>
                                <div class="desc-review">
                                    This is a random example because I dont feel like looking up examples right now. I am very tired and I am trying hard to get this work done.
                                </div>
                            </div>
                        </div>
                        <div class="review">
                            <div class="head-review">
                                <img src='static/images/member.jpg' width='250px'>
                            </div>
                            <div class="body-review">
                                <div class="name-review">
                                    Kelly M.
                                </div>
                                <div class="place-review">
                                    Bay St. Louis
                                </div>
                                <div class="rating">
                                    <i class='fas fa-star'></i>
                                    <i class='fas fa-star'></i>
                                    <i class='fas fa-star'></i>
                                    <i class='fas fa-star-half'></i>
                                </div>
                                <div class="desc-review">
                                    This is a random example because I dont feel like looking up examples right now. I am very tired and I am trying hard to get this work done.
                                </div>
                            </div>
                        </div>
                        <div class="review">
                            <div class="head-review">
                                <img src='static/images/member.jpg' width='250px'>
                            </div>
                            <div class="body-review">
                                <div class="name-review">
                                    Rickey J.
                                </div>
                                <div class="place-review">
                                    Gulf Port
                                </div>
                                <div class="rating">
                                    <i class='fas fa-star'></i>
                                    <i class='fas fa-star'></i>
                                    <i class='fas fa-star'></i>
                                </div>
                                <div class="desc-review">
                                    This is a random example because I dont feel like looking up examples right now. I am very tired and I am trying hard to get this work done.
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div> 
            </div>

    {% endblock content %}


</body>


</html>