{% extends 'index.html' %}
{% load static %}

{% block content %}
<head>
  <title>Reviews</title>
  <link rel="stylesheet" href="{% static "reviews.css" %}">
</head>
<body>
  <div class="wrapper_container">
    <div class="wrapper">
      <div class="box">
        <i class="fas fa-quote-left quote"></i>
        <p>random stuff jaefefijoesfjoifaesijoesjioekjkaerwjlwrlrewewrjkerjlkewrjlkrwejlkwerjklewrjklewrjlkwerjlkewrjlkewrjlkewrjlkewrejlkewrjlkelkjewrljkewrsfjiefjioefjieasfjioefsaij</p>
        <div class="content">
          <div class="info">
            <div class="name"></div>
            <div class="icon"></div>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
          <div class="image">
            <img src="#" alt="image">
          </div>
        </div>
        <div class="box">
          <i class="fas fa-quote-left quote"></i>
          <p>random stuff jaefefijoesfjoifaesijoesjioekjkaerwjlwrlrewewrjkerjlkewrjlkrwejlkwerjklewrjklewrjlkwerjlkewrjlkewrjlkewrjlkewrejlkewrjlkelkjewrljkewrsfjiefjioefjieasfjioefsaij</p>
          <div class="content">
            <div class="info">
              <div class="name"></div>
              <div class="icon"></div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <div class="image">
              <img src="#" alt="image">
            </div>
          </div>
          <div class="box">
            <i class="fas fa-quote-left quote"></i>
            <p>random stuff jaefefijoesfjoifaesijoesjioekjkaerwjlwrlrewewrjkerjlkewrjlkrwejlkwerjklewrjklewrjlkwerjlkewrjlkewrjlkewrjlkewrejlkewrjlkelkjewrljkewrsfjiefjioefjieasfjioefsaij</p>
            <div class="content">
              <div class="info">
                <div class="name"></div>
                <div class="icon"></div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="image">
                <img src="#" alt="image">
              </div>
            </div>
        </div>
     </div>
  </div>
</body>
{% endblock %}
