{% extends 'index.html' %}
{% load static %}

{% block content %}
<head>
  <title>Reviews</title>
  <link rel="stylesheet" href="{% static "reviews.css" %}">
</head>
<body>
  {% for review in reviews %}
  <div class="testimonials">
    <div class="card">
        <div class="layer"></div>
        <div class="content">
            <p>{{review.text}}</p>
              {% if review.rating == 1 %}
                <div class="stars">{{review.rating}}</div>
              {% endif %}
                <div class="details"><h2>{{review.user}}</h2></div>
        </div>
    </div>
  </div>

  {% endfor %}
</body>
{% endblock %}
