{% extends 'base.html'%}
{% load static %}
{% block content %}
<head>
    <title>Request</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static "request_project.css" %}">

</head>

<body>
    <div class="container">
        <form target="_blank" action="https://formsubmit.co/blairjohnson562@gmail.com" method="POST">
            <div class="form-group">
                <h1 class="header-Request">Request A Project!</h1>
                <div class="form-row">
                    <div class="column">
                        {% comment %} <label for="name">Full Name:</label> {% endcomment %}
                        <input type="text" id="name" name="name" class="form-control" placeholder="Full Name" required>
                    </div>
                    <div class="column">
                        {% comment %} <label for="number">Phone Number:</label> {% endcomment %}
                        <input type="phone" id="number" name="number" class="form-control" placeholder="Phone Number" required>
                    </div>
                    <div class="column">
                        {% comment %} <label for="email">Email Address:</label> {% endcomment %}
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email Address" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="location">Select Location:</label><br>
                <select id="location" name="location" class="form-control" required>
                    <option value="">Select Location</option>
                    <option value="Location 1">BAY ST. LOUIS</option>
                    <option value="Location 2">DIAMONDHEAD</option>
                    <option value="Location 3">WAVELAND</option>
                    <option value="Location 4">PASS CHRISTIAN</option>
                    <option value="Location 5">DELISLE</option>
                    <option value="Location 6">KILN</option>
                    <option value="Location 7">LONG BEACH</option>
                    <option value="Location 8">GULFPORT</option>
                    <option value="Location 9">SLIDELL</option>
                </select>
            </div>
            <div class="form-group">
                <label for="date" style="">Select Date:</label><br>
                <input type="date" id="date" name="date" class="form-control" required>
            </div>
            <div class="form-group">
                <textarea id="message" placeholder="Please Describe Your Issue..." class="form-control" name="message" rows="10" required style="font-size:15pt;padding:40px;"></textarea>
            </div>
            <div class='form-group'>
                <label for="myFile" class="custom-file-upload">Choose File</label>
                <input type="file" id="myFile" name="filename" style="color: rgba(0, 0, 0, 0)">
            </div>
            <button type="submit" class="btn" >Submit Form</button>
        </form>
    </div>
</body>
{% endblock content %}

